@import 'react-big-calendar/lib/sass/styles';

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}
//HOME PAGE
.options {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  background-image: url(./img/bars.jpg);
  height: 100vh;
  background-size: cover;
}

button {
  color: orangered;
  background: rgb(211, 202, 202);
  border-radius: 8px;
  height: 55px;
  width: 10em;
  font-size: larger;
  font-style: bold;
}

.alert {
  background: red;
  color: black;
}

img {
  width: 13.5em;
  height: 18em;
  border-radius: 25px;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(233, 225, 225);
}

//HEADER
header {
  background-color: rgb(100, 97, 97);
  border-bottom: rgb(250, 116, 6);
  border-width: thin;
  border-style: solid;
  border-radius: 6px;
}
//COURT DATE PAGE
.C {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  //ALERT PAGE
}
.picbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: black;
  border-radius: 20px;
}

.alertmain {
  background-image: url(./img/arrested.jpg);
  //background-color: red;
  height: 100vh;
}

.gps {
  border: black;
  border-style: double;
  border-radius: 15px;
  border-style: solid;
  height: 15em;
  width: 15em;
  margin-top: 20px;
}

.alerttxt {
  margin-left: 10rem;
  margin-right: 10rem;
  background-color: blanchedalmond;
}
.Picker {
  //display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.navBar {
  display: flex;
  justify-content: space-around;
}
.full {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #4e4c4c;
}
.login-box {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.form-input {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid black;
}

.sign-body {
  background-image: url(./img/bars.jpg);
  height: 100vh;
}

.list {
  width: 340px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(10, 10, 10);
  border-style: double;
}

header {
  display: flex;
  justify-content: space-around;
}

.fields {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(143, 138, 135);
  border-radius: 3em;
  border-width: 6em;
  border-style: dashed;
}
.fields input {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-color: black;
}
.Add {
  background-color: rgb(10, 10, 10);
  height: 100vh;
}
.Add h1 {
  color: white;
}

.options h3 {
  color: white;
}
